/* Navbar Main Container */
.ngo-header {
  width: 100%;
  height: 65px;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Left side */
.ngo-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.ngo-logo {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
}

/* Navigation Links */
.ngo-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ngo-link {
  font-size: 16px;
  text-decoration: none;
  color: #444;
  padding: 6px 10px;
  transition: 0.2s;
}

.ngo-link:hover,
.ngo-link.active {
  color: #0a78ff;
  border-bottom: 2px solid #0a78ff;
}

/* Dropdown */
.ngo-dropdown {
  position: relative;
  cursor: pointer;
}

.ngo-dropdown-title {
  color: #444;
  font-size: 16px;
}

.ngo-dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  border: 1px solid #ddd;
  width: 180px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  z-index: 20;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

}

.ngo-dropdown:hover .ngo-dropdown-content {
  display: flex;
}

.ngo-dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.ngo-dropdown-item:hover {
  background: #f5f5f5;
  color: #0a78ff;
}

/* User Section */
.ngo-right {
  position: relative;
}

.ngo-user-section {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* Default avatar */
.ngo-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.ngo-username {
  font-size: 15px;
  color: #333;
}

/* Drop-down user menu */
.ngo-user-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.ngo-user-menu-item {
  padding: 12px;
  display: block;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.ngo-user-menu-item:hover {
  background: #f5f5f5;
  color: #0a78ff;
}

.logout {
  color: red;
  font-weight: bold;
}
